
#particles-js {
    height: 98%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.content {
    color: #fff;
    display: table-cell;
	padding: 50px 0;
}

.content-inner > p {
    margin: 0 0 20px;
}

#Main.overlay {
	background-attachment: fixed;
	background-size:  cover;
	background-image: url("../img/banner.jpg");
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

section {
  padding: 5rem 0;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh; 
  }

nav {
    background-color: #34495e;
    height: 80px;
        position: fixed;
        width: 100vw;
        top: 0;
        /*z-index: 999;*/
}




